/* CSS styling for twitch-client app */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

html, body {
  height: 100%;
}

.wrapper {
  border: 1px blue dotted;
  margin-bottom: 6em;
  margin-top: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twitchbox {
  border: 2px cyan dotted;
  min-width: 280px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#ticon {
  padding-right: 10px;
}

.twitch-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px orange dotted;
  padding: 10px;
  margin: 0px auto;
  font-family: 'Orbitron', sans-serif;
  color: #6441A4;
}

.twitch-nav {
  border: 2px magenta dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  height: 3em;
}

.twitchtoggle {
  width: 100%;
  height: 100%;
  border: #FFF 1px solid;
  background-color: #7A7A7A;
  color: #FFF;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.twitchtoggle:hover {
  background: #6441A4;
  color: #FFF;
}

.activenav {
  background: #6441A4;
  color: #FFF; 
}

.twitch-body {
  border: 2px yellow solid;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  width: 90%;
}

.right {
  width: 10%;
}

.allstreams {
  border: 1px purple dotted;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.online {
  border: 2px green dotted;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.onbox, .offbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.offline {
  border: 1px red dotted;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.t-title {
  font-size: 20px;
}

.left a {
  text-decoration: none;
  color: #000;
}

.left a:hover {
  color: #C1C1C1;
}

.t-desc {
  font-size: 12px;
  padding: 10px;
}

/* Online and Offline indicators; add in JS */
.statuson, .statusoff {
  display: inline-block;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.statuson {
  background-color: #18A552;
}

.statusoff {
  background-color: #E43636;
}

/* CSS for footer */
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 3em;
	background-color: #000000;
	z-index: 2;
}

#pagebottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

#contact {
	margin: 0px 10px;
	padding: 0px 10px;
	color: #C1C1C1;
	font-family: sans-serif;
  font-size: 1em;
}

#social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-right: 10vw;
	height: 90%;
}

footer div a i {
  color: #C1C1C1;
	margin: 0px 10px;
}

footer div a i:hover {
	color: #B395FF;
}
